[submodule "tframe"]
	path = tframe
	url = https://github.com/WilliamRo/tframe
[submodule "lambo"]
	path = lambo
	url = https://github.com/WilliamRo/lambo
[submodule "roma"]
	path = roma
	url = https://github.com/WilliamRo/roma
